.current {
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid var(--borderGray);
  padding: 8px;
  border-radius: 6px;
}
.current dt {
  color: #aaa;
}
@media (min-width: 768px) {
  .current {
    display: flex;
    padding: 10px;
  }
  .current dt {
    white-space: nowrap;
  }
}
@media (min-width: 1000px) {
  .current {
    font-size: 14px;
  }
}
