.imageWrapper {
  display: flex;
  justify-content: center;
  margin-inline: calc(50% - 50vw);
}
.imageInner {
  width: fit-content;
}
.imageInner img {
  border: 1px solid var(--borderGray);
  border-radius: 5px;
}
